
.principal {
    margin-top: 20px;
    width: 100%;
}

.cardclass {
    width: 100%;
}

.searchbutton {
    padding-bottom: 15px;
    justify-content: center;
}

.iconsearch {
    padding-top: 5px;
}

h3 {
    margin-top: 15px;
    text-align: center;
}


.categoriaProducto {
    margin-left: 6px;
}

.registrarboton {
    background-color: green;
    color: white;
}

.actualizarboton {
    color: white;
}

.botonesdiv {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.tablaproductos { 
    margin-top: 50px;
    border: 1px;
}

.navproductos {
    margin-left: 20px;
}

.claveinput {
    margin-top: 20px;
}

/* Estilos a los label */
.numinput {
    margin-right: 38px;
}

.apellidoMaterno {
    margin-right: 30px;
}

.registrolabel {
    margin-right: 25px;
}


.cantidadlabel {
    margin-left: 45px;

}

.nombreinput {
    margin-left: 43px;
}

.paternoinput {
    margin-left: 48px;
}