<div class="navproductos">
    <div>
    <button class="btnmenu" mat-mini-fab color="primary" class="mt-1" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goClientes()">Clientes</button>
        <button mat-menu-item (click)="goVentas()">Ventas</button>
        <button mat-menu-item (click)="goProductos()">Productos</button>
    </mat-menu>
    <h3>Usuarios</h3>
    </div>
</div>
<div class="container principal">
    <div class="container-fluid">
        <mat-card appearance="outlined" class="cardclass">
        <!-- Formulario -->
         <form [formGroup]="usuarioForm" class="p-2">
            <div class="divprincipal">
            <label class="p-2 numinput">Num: </label>
            <mat-form-field appearance="outline" class="m-2">
                <input class="searchProduct" matInput type="number" placeholder="Numero"> 
            </mat-form-field> 
            <button color="primary" mat-mini-fab aria-label="Search product" class="searchbutton" >
                <mat-icon class="iconsearch" fontIcon="search"></mat-icon>
            </button>
                <label class="p-2">Nombre:</label>
                <mat-form-field appearance="outline" class="nombreinput">
                    <input matInput type="text" placeholder="Nombre"> 
                </mat-form-field> 
            </div>
            <div>
            <label class="p-1 apellidoMaterno">Apellido: </label>
            <mat-form-field appearance="outline" floatLabel="always">
                <input matInput type="text" class="example-right-align" placeholder="Materno"/>
            </mat-form-field>

            <label class="p-2 cantidadlabel">Paterno: </label>
            <mat-form-field appearance="outline" class="paternoinput">
                <input class="searchProduct" matInput type="text" placeholder="Paterno"> 
            </mat-form-field> 
            </div>
            <div>
            <label class="p-1 registrolabel">Registro: </label>
            <mat-form-field class="">
                <mat-label>Elige una fecha</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            <label class="p-2 categoriaProducto">Tipo de usuario: </label>
              <mat-form-field>
                <mat-label>Selecciona</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-hint MatHint.align="end">Selecciona el tipo de usuario</mat-hint>
              </mat-form-field>
            </div>
            <div>
            </div>
            <div class="claveinput">
                <label class="p-1">Contraseña:</label>
                <mat-form-field>
                    <input matInput [type]="hide() ? 'password' : 'text'" />

                    <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()">

                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div class="botonesdiv">
                <button mat-raised-button>Limpiar</button>
                <button color="warn" mat-raised-button>Eliminar</button>
                <button class="actualizarboton" color="primary" mat-raised-button>Actualizar</button>
                <button class="registrarboton" mat-raised-button>Registrar</button>
            </div>
         </form>
        </mat-card>
    </div>
    <div class = "tablaproductos">
         <!--Listado de producto  -->
         <h5>Listado de usuarios</h5>
         <div>
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="num">
                <th mat-header-cell *matHeaderCellDef> Num. </th>
                <td mat-cell *matCellDef="let element"> {{element.num}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="apellidoMaterno">
                <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}}</td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="apellidoPaterno">
                <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}}</td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="fecha_registro">
                <th mat-header-cell *matHeaderCellDef> Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="tipo_usuario">
                <th mat-header-cell *matHeaderCellDef> Tipo Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_usuario}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="clave">
                <th mat-header-cell *matHeaderCellDef> Clave </th>
                <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

    </div>
</div>
