.labelstyle {
width: 40%;
}

.labelstylenombre {
    width: 40%;
}

.formdetails {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:stretch;
    height: 100vh; 
}

.cleanboton {
    margin-right: 2px;
}

.navclientes > h3 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.tablaclientes {
   width: 55%;
}